*{
    /* text-align: center; */
    margin: 0;
    background-color:  #222e3d;
}


.header{
    display: flex;
    margin-top: 10px;
}

.Heading{
    opacity: 0.75;
    color: #3b82f6;
    /* text-align: center; */
    margin-bottom: 100px;
    font-size: 100px;
    padding: 200px 200px 80px 70px;
    font-family: 'Arial Narrow Bold', sans-serif;
    /* color: #fff; */
}


.head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    opacity: 0.7;
    margin-right: 129.5px;
    margin-top: 8px;
}

.img{
    box-shadow: black 2px 2px 20px;
    margin: 65px 35px 65px 0px;
    background-size: cover;
    height: 400px;
    width: 400px;
    background-image: url(photo.png);
    border: 5px solid black;
    border-radius: 50%;
}



/*main*/

.Career{
    box-shadow: #1a1a1a 2px 2px 40px;
    margin-top: 100px;
    margin-left: 55px;
    margin-right: 50px;
    margin-bottom: 45px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 300;
    display: block;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    border-style: groove;
    width: fit-content;
}


.about{
    margin-left: 55px;
    margin-right: 50px;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.Education{
    margin-left: 55px;
    margin-right: 50px;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.Skills{
    margin-left: 55px;
    margin-right: 50px;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.Projects{
    margin-left: 55px;
    margin-right: 50px;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.extra{
    margin-left: 55px;
    margin-right: 50px;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.language{
    margin-left: 55px;
    margin-right: 50px;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.hobbies{
    margin-left: 55px;
    margin-right: 50px;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.declere{
    margin-left: 55px;
    margin-right: 50px;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*footer*/


.footer{
    height: 55vh;
    width: 50%;
    margin-top: 50px;
    margin-left: 380px;
    /* margin-right: 10px; */

    /* border: 2px solid black; */

    & .contact{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 55px;
        color: wheat;
        text-align: center;
    }


    & .gmail{
        line-height: 4;
        font-family: Arial, Helvetica, sans-serif;
        color: #3b82f6;
        text-decoration: underline;
        font-size: 45px;
    }

    & .microsoft{
        font-family: Arial, Helvetica, sans-serif;
        color: #3b82f6;
        text-decoration: underline;
        font-size: 45px;

    }
}
